.category-page {
	@include inner-padding($globalpadding);
	background-color: $tanBG;
	padding-top: ($nav-height*1.2);
  padding-bottom: $nav-height/2;
}

.category-callout,
.category-grid {
	padding-right: 60px;
	@include laptop {
		padding-right: 20px;
	}
	@include tablet {
		padding-right: 0px;
	}
}
.category-grid {
	margin-left: -1em;
  margin-right: -1em;
  flex-wrap: wrap;
  .grid-item {
  	display: flex; 
  }
  .grid-item > .row {
  	margin-left: 0;
  	margin-right: 0;
  }
  .category-button {
  	display: block;
  	margin: 0 auto;
  	margin-top: 30px;
  }
}

// Main Category Callout Post
.callout-container {
	background-color: white;
	.post-image-container {
  	background-size: cover;
  	background-position: 50%;
  	min-height: 300px;
	}
	.post-image-slug {
		font-family: $nav;
		color: $orange;
		font-weight: 600;
		text-transform: uppercase;
		padding: 10px;
		letter-spacing: 0.08em;
	}
}
.callout-details {
	padding: 30px;
	.post-title h1 {
		font-weight: 700;
		font-size: 1.4em;
		line-height: 1.4em;
	}
}


[class*="post-grid"] {
	transition: all .2s ease-out;
  &:hover,
  &:active,
  &:focus {
  	transition: all .2s ease-in;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.15);
		-moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.15);
		box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.15);  
  }
}

.post-grid {
	display: block;
	background: white;
	margin-top: 40px;
	overflow:inherit;
	min-width: 100%;
	.post-details {
		padding: 20px;
	}
	.post-title {
		font-weight: 600;
		font-size: 1.2em;
		margin-bottom: 30px;
	}
	.post-image-container {
		background-size: cover;
		background-position: 50%;
		min-height: 150px;
	}
	.post-author-slug {
		margin-bottom: 10px;
		border-bottom: 1px solid $lightgray;
		padding-bottom: 20px;
	}
	@include tablet {
		display: flex;
	}
}
.grid-post-double-colum {
	.post-grid {
		display: flex;
		@include laptop {
			display: block;
		}
		@include tablet {
			display: flex;
		}
	}
}






