footer {
	@extend %inner-padding;
	height: auto;
	padding-top: 60px;
	padding-bottom: 40px;
	background-color: lighten($blue, 10%);
	color: white;
	.footer-brands {
		// height: 60px;
		margin-bottom: 30px;
	}
	.footer-legal-links {
		// height: 60px;
		padding-top: 40px;
		border-top: 1px solid rgba(255,255,255,0.4);
	}
	.brand-logo {
    .logo-relieved path {
      fill: $blue;
    }
  }
}