.home-nav {
  background: white;
  position: fixed;
  width: 100%;
  .home-nav-container {
    height: 100px;
    padding-right: $global-padding;
    padding-left: $global-padding;
  }
  .brands-list {
    text-align: center;
  }
}

.home-nav-logo {
  .nav-logo-backup {
    position: absolute;
    opacity: 0;
  }
}
.home-nav-icons {
  a,
  button {
    margin-right: 20px;
  }
}