.home-nav {
  background: white;
  position: fixed;
  width: 100%;
  z-index: $z10;
  border-bottom: 1px solid $lightgray;
  .home-nav-container {
    @include inner-padding($globalpadding);
    height: $nav-height;
  }
  .brands-list {
    text-align: center;
  }
}

.home-nav-logo {
  .nav-logo-backup {
    position: absolute;
    opacity: 0;
  }
  &.relieved-logo img {
    min-height: 60px;
    @include mobile {
      min-height: 50px;
    }
  }

}
.home-nav-icons {
  a,
  button {
    margin-right: 20px;
  }
  .home-nav-hamburger-toggle {
    display: none;
    &:before {
      content: url('../img/hamburger-blue.svg');
      width: 10px;
      height: 10px;
    }
    &.menu-open {
      &:before {
        content: url('../img/hamburger-x-blue.svg');
        width: 10px;
        height: 10px;
      }
    }
    @include tablet {
      display: inline-flex;
    }
  }
}

.relieved-navbar {
  .home-nav-hamburger-toggle {
    &:before {
      content: url('../img/hamburger-orange.svg');
    }
    &.menu-open {
      &:before {
        content: url('../img/hamburger-x-orange.svg');
      }
    }
  }
}



.links-list {
  .nav-link {
    font-family: $nav;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    &:hover {
      cursor: pointer;
      color: $orange;
    }
    &:not(:last-of-type) {
      margin-right: 30px;
    }
  }
  &.category-nav {
    .nav-link {
      color: $orange;
      position: relative;
      a {
        color: #FF9486;
        font-family: $nav;
        font-size: 16px;  
        font-weight: 500; 
        line-height: 24px;
        letter-spacing: 0.03rem;
      }
    }
    .nav-link:hover:after {
      content: '';
      bottom: -30px;
      position: absolute;
      display: block;
      height: 3px;
      width: 100%;
      background: $orange;
    }
  }
  @include laptop {
    .nav-link {
      font-size: 0.8em;
      &:not(:last-of-type) {
        margin-right: 10px;
      }
    }
  }
  @include tablet {
    .nav-link {
      font-size: 0.7em;
      &:not(:last-of-type) {
        margin-right: 5px;
      }
    }
  }
}

.mobile-brands-list {
  min-height: 88%;
  display: flex;
  flex-direction: column;
  .mobile-brand-subtitle {
    font-family: $headline;
    font-weight: 600;
    font-size: 12px;
    line-height: 19px;
  }
  .mobile-brand-logo {
    min-height: 70px;
    max-width: 48%;
  }
  > li {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-size: cover;
    opacity: 1;
    transition: .3s all ease;
    &:hover {
      opacity: .8;
      transition: .3s all ease;
    }
    > a {
      margin-top: 5%;
    }
  }
}


.mobile-nav-container {
  position: fixed;
  z-index: $z9;
  margin-top: $nav-height;
  color: white;
  width: 100vw;
  width: 100%;
  height: 100vh;
  height: 100%;
  display: none;
  opacity: 0;
  transform: translateY(-100%);
  transition: .3s all ease-out;
  &.home-mobile-nav {
    background-color: $blue;
  }
  &.relieved-mobile-nav {
    background-color: $orange;
  }
  .mobile-nav-link {
    display: block;
    border-bottom: 1px solid white;
    max-width: 90%;
    margin-right: 0;
    margin-left: 0;
    margin: 0 auto;
    transition: .3s all ease-in;
    a {
      text-transform: uppercase;
      text-align: left;
      font-size: 30px;
      line-height: 80px;
      transition: .3s transform ease-in;
      &:hover {
        transform: translateX(10%);
        transition: .3s transform ease-in;
      }
    }
  }
  &.mobile-nav-open {
    opacity: 1;
    transform: translateY(0%);
    transition: .3s all ease-in;
    .mobile-nav-link {
      transition: .3s all ease-in;
      transform: translateY(0%);
    }
  }
  @include tablet {
    display: block;
    transform: translateY(-100%);
  }
}