%inner-padding {
  padding-left: $globalpadding;
  padding-right: $globalpadding;
  @include mobile {
      padding-left: $globalpadding - 40px;
      padding-right: $globalpadding - 40px;
  }
}


// BASE POST STYLING
[class*="post-title-"] {
  &:hover {
    color: $orange;
    cursor: pointer;    
  }
}
.post-title-large {
  h1 {
    padding-top: 10px;
    padding-bottom: 10px;
    &:hover {
      color: $orange;
    }
  }
}
.post-crumb-datetime {
  font-family: $headline;
  font-size: $fontmobile;
  margin-top: 10px;
  margin-bottom: 10px;
}

.post-image-container {
  background-color: gray;
  padding: 0;
  display: flex;
  position: relative;
  .post-image {
    object-fit: contain;
    &:hover {
      opacity: .8;
    }
  }
  .post-image-slug {
    background-color: white;
    position: absolute;
    &.bottom {
      bottom: 0;
    }
    &.top {
      top: 0;
    }
  }
}
.post-medium {
  padding: 0;
  background-color: white;
  .post-details {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}


.splash {
  @extend %inner-padding;
  padding-top: ($nav-height*2);
  padding-bottom: $nav-height;
  overflow:auto;
  background-color: $blueBG;
  .splash-container {
    background-color: white;
    width: 100%;
  }
  .splash-details {
    padding: 40px;
  }
  .splash-image-container {
    background-color: gray;
    padding: 0;
    .splash-image {
      object-fit: contain;
      &:hover {
        opacity: .8;
      }
    }
  }
}

.section {
  @extend %inner-padding;
  overflow:auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: gray;
  .section-title {
    text-align: center;
  }
}


// logo list for nav and footer
.brands-list {
  li {
    display: inline-flex;
  }
  .brand-logo {
    margin-right: 40px;
    max-width: 100px;
    &:hover {
      opacity: .9;
    }
  }
}






