%inner-padding {
  padding-left: $globalpadding;
  padding-right: $globalpadding;
  @include mobile {
      padding-left: $globalpadding - 40px;
      padding-right: $globalpadding - 40px;
  }
}


// BASE POST STYLING
[class*="post-title-"] {
  &:hover {
    color: $orange;
    cursor: pointer;    
  }
}
.post-title-large {
  h1 {
    padding-top: 10px;
    padding-bottom: 10px;
    &:hover {
      color: $orange;
    }
  }
}
.post-crumb-datetime {
  font-family: $headline;
  font-size: $fontmobile;
  margin-top: 10px;
  margin-bottom: 10px;
}

.post-image-container {
  background-color: gray;
  padding: 0;
  display: flex;
  position: relative;
  overflow: none;
  .post-image {
    object-fit: contain;
    img {
      margin-bottom: -10px;
    }
    &:hover {
      opacity: .8;
    }
  }
  .post-image-slug {
    display: flex;
    align-items: center;
    background-color: white;
    position: absolute;
    text-align: center;
    z-index: $z7;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 5px;
    padding-bottom: 3px;
    img {
      max-width: 80%;
      margin-right: 5px;
      margin-left: 5px;
    }
    &.bottom {
      bottom: -5px;
    }
    &.top {
      top: 0;
    }
  }
}
.post-author-slug {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  color: $grey;
  .author-slug-image {
    width: 32px;
    height: 32px;
    border-radius: 60px;
    margin-right: 5px;
  }
  &.slug-large {
    margin-top: 10px;
    margin-bottom: 10px;
    .author-slug-image {
      width: 56px;
      height: 56px;
      border-radius: 100px;
      margin-right: 10px;
    }
  }
}


.post-medium {
  padding: 0;
  background-color: white;
  .post-details {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .post-author-slug {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid $lightgrey;
  }
}

.post-large {
  display: flex;
  position: relative;
  overflow: none;
  align-items: center;  
  justify-content: center;
  margin-bottom: 50px;
  .post-title-medium {
    margin-bottom: 20px;
  }
  .post-author-slug {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid $lightgrey;
  }
  .post-details {
    max-width: 350px;
    background-color: white;
    position: absolute;
    bottom: -100px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.splash {
  @extend %inner-padding;
  padding-top: ($nav-height*2);
  padding-bottom: $nav-height;
  overflow:auto;
  background-color: $blueBG;
  .splash-container {
    background-color: white;
    width: 100%;
  }
  .splash-details {
    padding: 40px;
  }
  .splash-image-container {
    background-color: gray;
    padding: 0;
    overflow: none;
    .splash-image {
      object-fit: contain;
      img {
        margin-bottom: -10px;
      }
      &:hover {
        opacity: .8;
      }
    }
  }
}

.section {
  @extend %inner-padding;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: lightgrey;
  .section-title {
    margin-bottom: 2rem;
    text-align: center;
  }
}


.subscribe-block {
  background-color: $blueBG;
  text-align: center;
  color: $blue;
  padding: 20px;
  .subscribe-block-title {
    font-size: $fontlarger;
    margin-bottom: 20px;
  }
  .subscribe-block-subtitle {
    font-size: $fontbase;
    margin-bottom: 20px;
  }
}

.input-group {
  .input-group-field {
    max-width: 60%;
    height: 50px;
    border-radius: 5px;
    border: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
  .input-group-submit {
    @extend .reset-button;
    color: white;
    background-color: $blue;
    height: 50px;
    padding: 15px;
    border-radius: 30px;
    margin-left: -20px;
  }
}

// logo list for nav and footer
.brands-list {
  li {
    display: inline-flex;
  }
  .brand-logo {
    margin-right: 40px;
    max-width: 100px;
    &:hover {
      opacity: .9;
    }
  }
}






